:root {
  --main-font: 'Roboto', sans-serif;
  --bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --text-color: #212121;
  --light-text-color: #757575;
  --accent-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --active-color: #188ce8;
  --header-border-color: #ececec;
}

body {
  font-family: var(--main-font);
  line-height: 1.2;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Header*/

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--text-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

.main-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--light-text-color);
  letter-spacing: 0.02em;
}

.menu-item:focus,
.menu-item:hover,
.main-contact:focus,
.main-contact:hover {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Main*/

.main-section {
  background-color: var(--dark-bg-color);
  text-align: center;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent-text-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.main-button {
  font-family: inherit;
  font-style: normal;
  line-height: 1.88;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--active-color);
}

/*Peculiarities*/

.visually-hidden {
  visibility: hidden;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

.item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
  letter-spacing: 0.03em;
}

/*Activities*/
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color);
  letter-spacing: 0.03em;
}

/*Team*/
.team {
  background-color: var(--light-bg-color);
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card-text {
  font-size: 16px;
  color: var(--light-text-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Footer*/
.footer {
  background-color: var(--dark-bg-color);
}

.studio-footer {
  color: var(--accent-text-color);
}

.footer-address,
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-text-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: var(--footer-text-color);
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/*Second page*/

.button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--text-color);
  background-color: var(--light-bg-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button:focus,
.button:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/*Cards*/
.port-card:focus,
.port-card:hover {
  background-color: var(--light-bg-color);
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-text-color);
  letter-spacing: 0.03em;
}
